h1, h2, h4{
    text-align: center;
}

.temp_frio{
    font-size: 3em;
    color: #6ab5b3;
    text-shadow: 5px 5px #38505f;
}

.temp_calor{
    font-size: 3em;
    color: rgb(224, 228, 107);
    text-shadow: 5px 5px rgb(142, 142, 53);
}

h2, h4{
    color: #167cbc;
}

li{
    list-style: none;
}

p span{
    font-size: 0.85rem;
}

.text_sm{
    color: rgb(68, 67, 67);
}

.location{
    padding: 10px;
}

.image_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d_center{
    display: flex;
    flex-direction: column;
    
}